* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  #body {
    text-align: center;
  /*   background-color: grey; */
    color: blue;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  #myForm {
    display: inline-block;
    /* text-align: center; */
    margin: 30px auto 10px;
    width: 600px;
    
  }
  
  .temp-box {
   width: 120px;
   display: inline-block;
   margin-bottom: 20px;
  }
  
  .temperature {
    margin-top: 0;
    border: 3px solid blue;
    height: 80px;
    width: 100px;
    color: blue;
    font-size: 30px;
    text-align: center;
  }
  
  h2 {
    /* margin-left: 10px; */
    width: 100px;
    margin: 0 auto 0;
  /*   text-align: center; */
  }
  
  .reset-inputs {
    width: 80px;
    background-color: yellow;
    font-size: 24px; 
    display: block;
    margin: 0 auto 0;
    border: 3px solid #000;
    border-radius: 20px;
    padding: 5px;
  }
  .nothing {
    background-color: black;
  }
  
  .frozen {
    background: lightblue url("https://pixabay.com/photos/ice-eiskristalle-snow-iced-1997289/") no-repeat fixed center;
  }
  
  .cool {
    background: blue url("https://pixabay.com/photos/dandelion-seeds-flower-nature-445228/") no-repeat fixed center;
  }
  
  
  .hot {
      background: orange url("https://pixabay.com/photos/desert-landscape-desert-landscape-1081829/") no-repeat fixed center;
    
  }
  
  .warm {
    background: yellow url("https://pixabay.com/illustrations/marguerite-leucanthemum-composites-1607181/") no-repeat fixed center;
  }
  
  .mild {
    background: green url("https://pixabay.com/photos/agriculture-field-landscape-3363932/") no-repeat fixed center;
  }
  
  .very-hot {
    background: red url("https://pixabay.com/photos/fire-wood-fire-flame-burn-brand-171229/") no-repeat fixed center;
  }
  
  